<!DOCTYPE html>

<html lang='en'>

<head>
    <%- include ./partials/_header.ejs %>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/scripts/drag-and-drop.js"></script>
</head>

<body>
    <div class='center' style='justify-content: center'>
        <h1 class='bottom-big-margin'>Answer the poll</h1>
        <h2 style='margin-bottom: -20px'><%= poll.name %></h2>
        <h3 class='bottom-big-margin'><%= poll.description %></h3>
        <span class='subtitle'>Please rank the following answers in order from best (top) to worst (bottom)</span>
        <ul id="sortable">
            <% for(let elem of answers) { %>
                <li class='button blue-container bottom-small-margin list'>
                    <div class="button-body bold">
                        <%= elem.name %>
                    </div>
                    <div class='subtitle'>
                        <%= elem.description %>
                    </div>
                </li>
            <% } %>
        </ul>
        <form method='POST' action='/answer/complete'>
            <input class='submit' type='submit' value='Submit'/>
        </form>
    </div>
</body>

</html>